
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Full Stack Development</title>
	<link href="./Content/bootstrap.css" rel="stylesheet"/>
<link href="./Content/site.css" rel="stylesheet"/>

<script src="./Scripts/modernizr-2.8.3.js"></script>
<script src="./Scripts/jquery-3.3.1.js"></script>

<script src="./Scripts/bootstrap.js"></script>
<script src="./Scripts/angular.js"></script>
<script src="./Scripts/angular.min.js"></script>
<script src="./Scripts/angular.js"></script>
<script src="./Sc/ripts/angular.min.js"></script>
<script>
	var app = angular.module('fullstack', []);
	var translateparam = { q: 'hello world', source: 'en',target: 'de'};
	var vtranslatetext = "";

	const apiKey= "AIzaSyCqKl3m4dIlhWIi_S5OFRrDQan9QWmtAAs";

	app.controller('tests',

		function ($scope, $http)
		{
			$scope.translation = "";
			$scope.languages = "";      
			$scope.detectq = "";
			$scope.detectedlang = "";
			$scope.translang = "";
			$scope.notice = "";

			$scope.translate = function ()
			{
				$scope.detect();
				vtranslatetext = $scope.detectq;
				translateparam = { q: $scope.detectq, source: $scope.detectedlang ,target: $scope.translang};
				$http.post('https://translation.googleapis.com/language/translate/v2?key=' + apiKey,translateparam).then(
					function (response) {
						var res = response.data;
						var obj =  angular.fromJson(res); 

						//var obj =  JSON.parse(httpRes);	
						$scope.translation = obj.data.translations[0].translatedText;		
					},
					function(response) {
						$scope.notice = "* An error occured on Google API while translating. Please ensure all fields are filled.";
					}
				);
			}

			$scope.getlanguages = function ()
			{
				$scope.notice = "";
				$http.get('https://translation.googleapis.com/language/translate/v2/languages?target=as&key=' + apiKey).then(
					function (response) {
						var res = response.data;
						var obj =  angular.fromJson(res);	
						$scope.languages = obj.data.languages;		
					}
					, function(response) {
						$scope.notice = "* An error occured on Google API while getting languages.";
					}
				);
			}

			$scope.detect = function ()
			{
				var detectparam  = {q:$scope.detectq};
				$scope.notice = "";
				$http.post('https://translation.googleapis.com/language/translate/v2/detect?key=' + apiKey,detectparam).then(
					function (response) {
						var res = response.data;
						var obj =  angular.fromJson(res);	
						var det = res.data.detections[0];	
						var obj2 = angular.fromJson(det);
						$scope.detectedlang = obj2[0].language;		
					}
					,
					function(response) {
						$scope.notice = "* An error occured on Google API while detecting language. Please ensure you have typed a text to translate.";
					}
				);
			}
		}
	);
</script>
</head>
<body>
    <div class="container body-content">    
        <div id="dmain" class="jumbotron" ng-app="fullstack" ng-controller="tests" ng-init="getlanguages()">  
		   <h2>Front End Development using Google Translate API</h2>
		   <hr/>
			<p ng-bind="notice" class="noticemessage"></p>
			<div class="form-group">			
				<p>Translate from language				
					<select ng-model="detectedlang">
						<option ng-repeat="lang in languages" ng-value="lang.language">{{lang.name}}</option>
					</select>
					&nbsp;
					<button ng-click="detect()" class="btn btn-default">Detect</button>
				</p>
				<p>
					<textarea placeholder="Text to translate" rows="3" cols="400"  ng-model="detectq" class="form-control"></textarea>
					<br/>
					<button ng-click="translate()" class="btn btn-default"t>Translate to language</button>
					&nbsp;
					<select ng-model="translang">
						<option ng-repeat="lang in languages" ng-value="lang.language">{{lang.name}}</option>
					</select>
					<br/>				
				</p>
				<p><textarea placeholder="Translation" readonly rows="3" cols="400" ng-bind="translation" class="form-control"></textarea></p>				
			</div>
		</div>	  
	</div>
	
</body>
</html>