
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Full Stack Development</title>
	<link href="./Content/bootstrap.css" rel="stylesheet"/>
<link href="./Content/site.css" rel="stylesheet"/>

<script src="./Scripts/modernizr-2.8.3.js"></script>
<script src="./Scripts/jquery-3.3.1.js"></script>

<script src="./Scripts/bootstrap.js"></script>
<script src="./Scripts/angular.js"></script>
<script src="./Scripts/angular.min.js"></script>
<script src="./Scripts/angular.js"></script>
<script src="./Sc/ripts/angular.min.js"></script>
<script>
	var app = angular.module('fullstack', []);
	app.controller('tests',

		function ($scope, $http)
		{
			$scope.username="";
			$scope.password="";
			$scope.message="";
			$scope.session="";
			$scope.ipaddress ="";
			$scope.nodeserver= "https://fsddb.herokuapp.com/"; 

			$scope.getIP = function (){
                $http.get('https://api64.ipify.org?format=json').then(
                    function (response) {
                        $scope.ipaddress = response.data.ip;
                        $scope.login();
                    }
                );
            }

			$scope.login = function ()
			{		
				$http.get($scope.nodeserver + 'user/' +  $scope.username + "/" + $scope.password ).then(
					function (response) {
						$scope.validateSession();
						//location.reload();
					},
					function(response) {
						$scope.message = "* " + response.data;
					}
				);
			}

			$scope.validateSession = function ()
			{				
				$http.get($scope.nodeserver + 'session/' +  $scope.username + "/" + $scope.ipaddress).then(
					function (response) {
						$scope.session=response.data._id;
					},
					function(response) {
						if(response.data.flag =="N")
						{
							//$scope.message=response.data;
							$scope.createSession();
						}
					}
				);
			}

			$scope.createSession = function ()
			{				
				$http.post($scope.nodeserver + 'session/' +  $scope.username + "/" + $scope.ipaddress).then(
					function (response) {
						$scope.session=response.data._id;
						top.location = "main.html";
					},
					function(response) {
						$scope.message = "* " + response.data;
					}
				);
			}

			$scope.register = function ()
			{
				window.location.replace ("register.html");
			}
		}
	);
</script>
</head>
<body>
    <div class="container body-content">    
        <div id="dmain" class="jumbotron" ng-app="fullstack" ng-controller="tests">  
		   <h2>Full Stack Development</h2>
		   <hr/>
			<p ng-bind="notice" class="noticemessage"></p>				
			<div >
				<h4>Please login to continue</h4>
				<p ng-bind="message"  class="noticemessage"></p>
				<br/>
					<div class="form-group">
						<div>
							<label for="email">Username:</label>
							<input type="text" class="form-control" ng-model="username" placeholder="Enter username" name="email">
						</div>
						<div>
							<label for="pwd">Password:</label>
							<input type="password" class="form-control" ng-model="password" placeholder="Enter password" name="pwd">
						</div>
						<br/>
						<button class="btn btn-default" ng-click="getIP()">Login</button>
						<br/>
						<br/>
						<p>Not yet registered?.&nbsp;<a href="#" class="link" ng-click="register()">Register here.</a></p>
					</div>
			  </div>
        </div>  
	</div>
	
</body>
</html>