
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Full Stack Development</title>
	<link href="./Content/bootstrap.css" rel="stylesheet"/>
<link href="./Content/site.css" rel="stylesheet"/>

<script src="./Scripts/modernizr-2.8.3.js"></script>
<script src="./Scripts/jquery-3.3.1.js"></script>

<script src="./Scripts/bootstrap.js"></script>
<script src="./Scripts/angular.js"></script>
<script src="./Scripts/angular.min.js"></script>
<script src="./Scripts/angular.js"></script>
<script src="./Scripts/angular.min.js"></script>
<script src="./Scripts/angular-cookies.js"></script>
<script>
	var app = angular.module('fullstack', []);
    app.controller('tests',
		function ($scope,$http)
		{
            $scope.frameurl = "";
            $scope.ipaddress= ""; 
            $scope.user= "";   
            $scope.show = false;    
            $scope.nodeserver= "https://mongouser.herokuapp.com/";     
 
            $scope.ipaddress = "";
             
            $scope.frontend = function ()
            {
                $scope.frameurl = "frontend.html";
            }
            $scope.about = function ()
            {
                $scope.frameurl = "about.html";
            }
            $scope.backend = function ()
            {
                $scope.frameurl = "backend.html";
            }
            $scope.welcome = function ()
            {
                $scope.frameurl = "welcome.html";
            }
            
            $scope.getIP = function (){
                $http.get('https://api.ipify.org/?format=json').then(
                    function (response) {
                        $scope.ipaddress = response.data.ip;
                        $scope.validate();
                    }
                );
            }

            $scope.validate = function ()
            {	                			
                 
                $http.get($scope.nodeserver + 'activesession/'+ $scope.ipaddress).then(
                    function (response) {
                        
                        $scope.session = response.data._id;
                        $scope.show = true; 
                        $scope.frameurl ='welcome.html'
                    },
                    function(response) {
                        if(response.data.flag =="N")
                        {
                            $scope.frameurl ='login.html';
                        }
                    }
                );
            }  

            $scope.log_out = function ()
			{				
				$http.post($scope.nodeserver + 'remove_session/' +  $scope.ipaddress).then(
					function (response) {
                        $scope.show = false; 
						top.location = "main.html";
					},
					function(response) {
						$scope.user= response.data.error;
                        
					}
				);
			}  
        }
        
    );

    
</script>
</head>
<body ng-app="fullstack" ng-controller="tests" ng-init="getIP()">
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="main.html">Full Stack Development</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" ng-show="show">
                    <li><a href="#" ng-click="frontend()">Front End</a></li>
                    <li><a href="#" ng-click="backend()">Back End (API)</a></li>
                    <li><a href="#" ng-click="about()">About</a></li>
                </ul>              
               <button type="button" class="logoutLblPos" ng-click="log_out()" ng-show="show">Log out</button>
            </div>
        </div>
    </div>
    <br><br>
    <iframe src={{frameurl}} width=100% class="frame"></iframe>
    <div class="container body-content">    
			<hr />
			<footer>
				<p>&copy; 2018 - Richard Magsuci</p>
			</footer>
    </div>
</body>
</html>
